<html>
      <head>
          <title> bulaso`s blog</title>
      </head>
      <body>

            <div>
                <h1><a href="/">Bulaso`s Blog</a></h1>
            </div>

            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
          <!-- <div>
              <h1><a href=""> bulaso`s blog</a></h1>
          </div>

          <div>
              <p>published: 25.07.2017, 21:30</p>
              <h2><a href="">Mi primer post</a></h2>
              <p>las ruffles jamón jork están mu wenas.</p>
          </div>

          <div>
              <p>published: 25.07.2017, 21:40</p>
              <h2><a href="">Segundo post</a></h2>
              <p>hola hola hola hola.</p>
          </div> -->
      </body>
  </html>
